<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Hire Austin</h2>
                <hr class="light">
                <p class="text-faded">As a senior Computer Science major at CWU, I have worked on many different projects using multiple languages. I also have a degree in Electrical Engineering, allowing me to excel at projects that require mathematical & engineering knowledge. Contact me if you want to get in touch.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
